{% extends "blog/base.html" %} 
{% block content %} 
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="container">

    <div class="center">
        <h1>ログイン</h1>
    </div>

    <form action="{% url 'login' %}" method="POST">
        <div class="col-sm">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="username" placeholder="username" class="form-control" id={{ form.username }} 
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="password" class="form-control" id={{ form.password }}
                            </div>
                            {% csrf_token %}
                            <div class="col-xs-12 col-sm-6">
                                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                                    ログイン
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'create' %}">
                                    会員登録
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- 
<div class="card-group">
    <div class="card card-outline-primary">
        <div class="card-block"> -->
            <!-- <form action="{% url 'login' %}" method="POST">
                <p>{{ form.non_field_errors }}</p>
                
                    {{ form.username }} 　　
                    {{ form.password }} 　　
                    {% csrf_token %}
                    <input type="hidden" name="next" value={{ next }} />
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                        ログイン
                    </button>
            </form> -->
            <!-- </div>
        </div>
    </div>
    <div class="card card-outline-primary">
        <div class="card-block">
            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'create' %}">
                会員登録
            </a>
        </div> 
    </div>
</div> -->

<!-- <div class="container">
    <div class="center">
        <h1>ログインページ</h1>
    </div>

    <div class="card-group">
        <div class="card card-outline-primary">
            <div class="card-block">
                <form action="{% url 'login' %}" method="POST">
                    <p>{{ form.non_field_errors }}</p>
                    {{ form.username }} 　
                    {{ form.password }} 　　
                    {% csrf_token %}
                    <input type="hidden" name="next" value={{ next }} />
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                        ログイン
                    </button>
                </form>
            </div>
        </div>
        <div class="card card-outline-primary">
            <div class="card-block">
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'create' %}">
                    会員登録
                </a>
            </div>
        </div>

    </div> -->
    <!-- /.card-group -->

<!-- </div> -->
<!-- /.container -->

{% endblock %}