{% extends "blog/base.html" %}
{% block content %}

<div class="container">
    <div class="center">
        <h1>ユーザ情報</h1>
        <!-- <p class="lead">ログイン中のユーザデータを表示します</p> -->
    </div>

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>属性</th>
                <!-- <th>templateでの呼び出し方</th> -->
                <th>ログインユーザのデータ</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>username</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr class="table-info">
                <td>email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr class="table-active">
                <td>admin</td>
                <td>{{ user.is_staff }}</td>
            </tr>
            <tr class="table-active">
                <td>account</td>
                <td>{{ user.is_active }}</td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}